@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100&family=Mukta:wght@200;300&family=Noto+Sans&family=Nunito+Sans:wght@300&family=Open+Sans&family=Poppins:wght@400;800&display=swap');
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: #e9e6db;
    font-family: 'Martian Mono', monospace;
    font-family: 'Mukta', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

nav{
    padding: 25px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 1;
    font-size: 18px
}

img{
    width: 34%;
    bottom: 0%;
    position: absolute;
    left: 34%;
    z-index: 1;   
}

.tarjeta1{
    position: absolute;
    left: 30%;
    top: 20%;
    z-index: -1;
    padding: 26px 0px;
    padding-left: 15px;
    width: 22%;
    background-color: #d9d7ca;
}

.tarjeta1 i{
    margin-right: 15px;
    cursor: pointer;
}

.tarjeta2{
    position: absolute;
    left: 0%;
    top: 43%;
    z-index: -1;
    padding: 20px 0px;
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    background-color: #393e44;
    color: #cccac0;
}

.tarjeta3{
    position: absolute;
    left: 50%;
    top: 43%;
    z-index: -1;
    padding: 36px 0px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8d6cc;
    color: #393e44;
}

.fondo1{
    font-size: 75px;
    position: absolute;
    bottom: 30%;
    left: 22%;
    z-index: -1;
    color: #e9e6db;
}
.fondo2{
    font-size: 75px;
    position: absolute;
    top: 32%;
    left: 24%;
    z-index: -1;
    color: #e9e6db;
}

.tarjeta4{
    position: absolute;
    left: 57%;
    top: 70%;
    z-index: -1;
    padding: 26px 0px;
    padding-left: 15px;
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393e44;
    color: #d6d5cb;
}
.tarjeta4 i{
    margin-left: 15px;
    cursor: pointer;
}

.abajo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 84%;
    width: 100%;
    z-index: 1;

}
.abajo h1{
    font-size: 50px;
    font-weight: 100;
}
.abajo p{
    font-weight: 700; 
}

.infinity i{
    font-size: 50px;
    font-weight: 100;
}

.ocho, .infinity{
    color: #393e44;
}

.doce{
    color: #e9e6db;
}



